.App {
  height: 100vh;
  background-color: #2e4045;
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  background-color: #2e4045;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.center-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #83adb5 30%, #c7bbc9 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mining-modal-text {
  color: #2e4045;
  font-size: 35px;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #c7bbc9, #bfb5b2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #5e3c58, #83adb5);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.img-smiley {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px; 
}

.modal {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -250px;
  margin-top: -250px;
  overflow: hidden;
  /* border: solid 5px #808080; */
  background: transparent;
  border-radius: 5px;
}

.modal-img {
  /* width: 250px;
  height: 250px; */
  position: absolute;
  height: 100%; 
  width: 100%; 
  object-fit: contain
  /* left: 50%;
  top: 50%;  */
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}